/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  padding-top: 50px; /* Add padding for the fixed header */
}

/* Header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  font-size: 1.5em;
}

/* Navigation styles */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Main styles */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Products section styles */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.products article {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.products article img {
  max-width: 100%;
  height: auto;
}

.products article h2 {
  margin-top: 10px;
  font-size: 1.2em;
}

.products article p {
  font-size: 1.1em;
  color: #888;
}

.products article button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.products article button:hover {
  background-color: #555;
}

/* Cart section styles */
.cart {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.cart h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.cart ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.cart ul li {
  margin-bottom: 10px;
}

.cart p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.cart button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart button:hover {
  background-color: #555;
}

/* Footer styles 
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}*/
